http://10.5.1.150 {
    @ca path /local-ca.crt
    handle @ca {
        root * /data/caddy/pki/authorities/local
        rewrite * /root.crt
        header Content-Disposition "attachment; filename=3d-print-manager-local-ca.crt"
        file_server
    }

    @installer path /Installeer-HTTPS-certificaat.cmd
    handle @installer {
        root * /srv/https
        file_server
    }

    handle {
        redir https://10.5.1.150:38503{uri} 308
    }
}

https://10.5.1.150 {
    tls internal
    encode zstd gzip
    reverse_proxy frontend_next:3000
}
